name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npx envinfo
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
  build-wasm:
    runs-on: ubuntu-latest
    container: gengjiawen/node-build:wasm
    steps:
      - uses: actions/checkout@v2
      - run: npx envinfo
      - name: Run tests
        run: |
          export PATH=/root/.cargo/bin:$PATH
          cd wasm && wasm-pack build
